.header {
    grid-area: h;
    background-color: green;
}

.header img {
    width: 60px;
}

.header .login {
    text-decoration: none;
    float: right;
    margin: 15px;

}

button  {
    margin: 5px;
}